.serviceCard-img {
      height: 175px;
      object-fit: contain;
      margin: 0 auto;
      padding: .3rem 0;
}

.service-text {
      padding: .8rem
}

.service-text button {
      font-weight: 500;
}

.card {
      transition: all linear 0.5s;
      position: relative;
      border: 0;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -1px;
      left: 0;
      background-color: #bb3340;
      ;
      transform-origin: bottom right;
      transition: transform 0.4s ease-out;
}

.card:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
}



.service-link {
      text-decoration: none;
      color: red;
      transition: all linear 0.2s;
}

.service-text button:hover .service-link {
      color: #fff;
}