.footer-part {
      padding: 3rem 0;
}

.footer-title h4 {
      position: relative;

}


.footer-title h4:after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      background: red;
      width: 58px;
      height: 3px;
}

.footer-title h4:before {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 61px;
      background: red;
      width: 18px;
      height: 3px;
}

/* === footer title end === */

.footer-first-social a i {
      color: gray;
      font-size: 1.1rem;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      line-height: 38px;
      text-align: center;
      border: 2px solid gray;
      background: transparent;
      transition: all linear 0.4s;
      margin-right: 13px;
}


.footer-first-social a:hover i {
      transform: rotate(360deg);
}

.footer-first-social a:first-child i:hover {
      background: #1877F2;
      border-color: #1877F2;
      color: #fff;
}

.footer-first-social a:nth-child(2) i:hover {
      background: #1DA1F2;
      border-color: #1DA1F2;
      color: #fff;
}

.footer-first-social a:nth-child(3) i:hover {
      background: #CD201F;
      border-color: #CD201F;
      color: #fff;
}

.footer-first-social a:last-child i:hover {
      background: #E4405F;
      border-color: #E4405F;
      color: #fff;
}

/* ==== footer first side end ==== */

.footer-second-side a {
      display: block;
      text-decoration: none;
      color: #283041;
      font-weight: 600;
      font-size: 1.1rem;
      padding-bottom: .6rem;
      transition: all linear 0.3s
}

.footer-second-side a:hover {
      color: red;
      transform: translateX(3px);
}