@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.text-color {
  color: #283041
}

/* .text-danger {
  color: #b12c39 !;
}

.bg-danger {
  background-color: #bb3340;
} */