.nav-part a {
      text-decoration: none;
}

.nav-logo {
      font-size: 1.5rem;
      font-weight: bold;
}

.nav-menu a {
      padding: 0 1rem;
      color: gray;
      font-size: 1.1rem;
      font-weight: 600;
}